/* SHARED */
* {
  font-family: 'Lato';
  font-weight: 300;
  margin: 0;
  color: #2a2d33;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 950px;

}

/* LEFT SECTION */
.left-container {
  width: 320px;
  height: 100%;
  float: left;
  background-color: #46529d;
  position: fixed;
}

/*.left-container-top {
  width: 100%;
  height: 65px;
  background-color: #2ebaee;
  margin-bottom: 20px;
}*/

.header {
  font-weight: 400;
  margin-left: 30px;
}

.left-week-day {
  margin-top: 20px;
  color: #8d93be;
}

.left-month-day {
  color: white;
}

.sub-header {
  color: #8d93be;
  border-bottom: 1px solid #8d93be;
  padding-left: 30px;
  margin-top: 51px;
  font-size: 12px;
  font-weight: bold;
}

.today-events-container {
  width: 100%;
  height: 130px;
  padding-top: 10px;
  color: #8d93be;
  overflow: scroll;
}

.today-event {
  color: #8d93be;
  font-size: 16px;
  margin-left: 30px;
  font-weight: 400px;
  margin-top: 3px;
}



/* MAIN CONTAINER*/

.main-container {
  overflow-x: hidden;
  height: 100%;
  margin-left: 320px;
  background-color: #f7f7f7
}

/* TOP BAR */

.top-bar {
  height: 64px;
  width: 100%;
  background-color: #efeeec;
  border-bottom: 1px solid #d8d8d7;
  overflow: none;
}

.top-bar-link {
  margin-left: 40px;
  height: 63px;
  width: 75px;
  line-height: 74px;
  color: #9b9997;
  font-weight: 400;
  text-align: center;
}

.new-event-button {
  background-color: #2ebaee;
  width: 150px;
  height: 65px;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 65px;
  font-size: 12px;
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

.active, .top-bar-link:hover {
  border-bottom: 2px solid #5b6ee0;
  cursor: pointer;
}

/* EVENTS */

.event-container {
  width: 100%;
  height: 100%;
}

.event {
  width: 100%;
  height: 100px;
  float: left;
  background-color: white;
  border-bottom: 1px solid #d8d8d7;
}

.event-date-div {
  width: 70px;
  height: 100%;
  padding-top: 10px;
  float: left;
}

.event-month-box {
  width: 48px;
  height: 48px;
  border: 1px solid #9B9B9B;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 5px;
}

.event-month {
  margin-top: 5px;
  font-size: 14px;
  color: #9B9B9B;
}

.event-day {
  color: #9B9B9B;
  font-size: 16px;
  font-weight: bold;
}

.event-year {
  text-align: center;
  font-size: 14px;
  color: #9B9B9B;
}

.event-content {
  height: 100%;
  overflow: hidden;
  padding-top: 8px;
}

.event-occasion {
  font-size: 20px;
  font-weight: 400;
  color: #40435b;
}

.event-invited {
  font-size: 14px;
}

.event-button {
  float: left;
  width: 80px;
  height: 25px;
  margin-right: 5px;
  margin-top: 8px;
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.invite-button {
  background-color: #2ebaee;
}

.cancel-button {
  background-color: #FE6C6C;
}

.undo-button {
  background-color: #6BD2A4;
}

.new-event-form-container {
  width: 320px;
  height: 100%;
  position: fixed;
  right: -320px;
  top: 0;
  background-color: #46529d;
}



.new-event-form-header {
  color: #8d93be;
  font-weight: bold;
  text-align: center;
  line-height: 65px;
}

.error-text {
  text-align: center;
  font-size: 12px;
  color: white;
  margin-top: -10px;
  margin-bottom: 10px;
  min-height: 15px;
}

.input-label {
 font-size: 12px;
 line-height: 16px;
 font-weight: 400;
 color: #8d93be;
 margin-left: 30px;
}


input {
  background-color: #46529d;
  border: 1px solid #8d93be;
  color: white;
  height: 16px;
  border-radius: 5px;
  padding: 4px;
  margin: 5px 0px 15px 30px;
}

input[type="text"] {
  width: 250px;
}
input[type="number"] {
  width: 40px;
  padding-left: 15px;
  text-align: center;
  color: #8d93be;
}
input[type="date"] {
  display: none;
}

.submit {
  margin: 0;
  margin-top: 300px;
  margin-left: 95px;
  background-color: #8d93be;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
}

::-webkit-input-placeholder {
   color: #8d93be;
}

:-moz-placeholder { /* Firefox 18- */
   color: #8d93be;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #8d93be;  
}

:-ms-input-placeholder {  
   color: #8d93be;  
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

