<div class="left-container">
  <h1 class="header left-week-day">{{days[date.getDay()]}}</h1>
  <h1 class="header left-month-day">{{date.getDate()}} {{months[date.getMonth()]}}</h1>
  <p class="sub-header">EVENTS ON THIS DAY</p>
  <div class="today-events-container">
    <p class="today-event" ng-repeat="event in events | filter: {'cancelled': '!true'} | filter: todayEvent">{{event.occasion}}</p>
  </div>
  

  <div id="datepicker"></div>
  

</div>
<div class="main-container">
  <div class="top-bar">
    <div class="top-bar-link left upcoming active" ng-click="updateList('upcoming')">
      Upcoming
    </div>
    <div class="top-bar-link popular left" ng-click="updateList('popular')">
      Popular
    </div>
    <div class="top-bar-link completed left" ng-click="updateList('completed')">
      Completed
    </div>
    <div class="top-bar-link cancelled left" ng-click="updateList('cancelled')">
      Cancelled
    </div>
    <div class="new-event-button right">NEW EVENT</div>
  </div>
  <div class="event-container">
    <div ng-repeat="event in events | orderBy : dataSort[activeTab].order | filter: dataSort[activeTab].filter | filter: dateFilter" class="event">
      <div class="event-date-div">
        <div class="event-month-box">
          <p class="event-month">{{months[event.month]}}</p>
          <p class="event-day">{{("0" + event.day).slice(-2)}}</p>
        </div>
        <p class="event-year">{{event.year}}</p>
      </div>
      <div class="event-content">
        <p class="event-occasion">{{displayOccasion(event.occasion)}}</p>
        <p class="event-invited">{{event.invited_count}} People Invited</p>
        <div class="event-button-container">
          <div class="event-button invite-button" ng-click="addInvite()">Invite</div>
          <div class="event-button cancel-button" ng-hide="{{event.cancelled}}" ng-click="toggleCancel()">Cancel</div>
          <div class="event-button undo-button" ng-show="{{event.cancelled}}" ng-click="toggleCancel()">Undo Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>






